/* geral */

@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Space+Grotesk&family=Unbounded:wght@500&display=swap');


body {
  background-image: linear-gradient(#0C0909, #480202);
  min-height: 100vh;
  /*
  display: flex;
  flex-direction: column;
  */
  color: white;
  font-family: 'Space Grotesk', sans-serif !important;
}

/* navbar */
.navbar{
  height: 100px;
  display: flex;
  font-size: 35px;
  justify-content: space-between;

}

.navLeft,.navRight{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.navbar .navLeft{
  width: 600px;
}

.navbar .navRight{
  margin-right: 30px;
}

.navbar .navLinks{
  display: flex;
}
.navbar h6{
  margin-right: 20px;
  color: gray;
  cursor: pointer;
}

.selected{
  color: white !important;
}
.btn_register_nav{
  transition: 0.5s;
  background-color: darkred;
  color: white;
  border-radius: 15px;
  padding: 10px;
  font-size: 0.67em;
  font-weight: bold;
  cursor: pointer;
  border: none;
}

.btn_register_nav:hover{
  box-shadow: 0 0 2rem darkred,
  0 0 0.8rem darkred,
  0 0 2.8rem darkred,
  inset 0 0 1.3rem darkred;
}

/* search bar */


.container {
  position: relative;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 200px;
  height: 100px;
}

  .search {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 50px;
    height: 50px;
    background: #891A1A;
    border-radius: 50%;
    transition: all 1s;
    z-index: 4;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);}

    .search :hover {
      cursor: pointer;
    }
   .search::before {
      content: "";
      position: absolute;
      margin: auto;
      top: 22px;
      right: 0;
      bottom: 0;
      left: 22px;
      width: 12px;
      height: 2px;
      background: white;
      transform: rotate(45deg);
      transition: all .5s;
    }
    .search::after {
      content: "";
      position: absolute;
      margin: auto;
      top: -5px;
      right: 0;
      bottom: 0;
      left: -5px;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      border: 2px solid white;
      transition: all .5s;
    }

  .input_search {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 60px;
    height: 50px;
    outline: none;
    border: none;
    background: #891A1A;
    color: white;
    text-shadow: 0 0 10px #891A1A;
    padding: 0 80px 0 20px;
    border-radius: 30px;
    box-shadow: 0 0 25px 0 #891A1A,0 20px 25px 0 rgba(0, 0, 0, 0.2);
    transition: all 1s;
    opacity: 0;
    z-index: 5;
    font-weight: bolder;
    letter-spacing: 0.1em;}

    .input_search:hover {
      cursor: pointer;
    }
    .input_search:focus {
      width: 150px;
      opacity: 1;
      cursor: text;
    }
    .input_search:focus ~ .search {
      right: -250px;
      background: #151515;
      z-index: 6;}

      .input_search::before {
        top: 0;
        left: 0;
        width: 25px;
      }
      .input_search::after {
        top: 0;
        left: 0;
        width: 25px;
        height: 2px;
        border: none;
        background: white;
        border-radius: 0%;
        transform: rotate(-45deg);
      }

    .input_search::placeholder {
      color: white;
      opacity: 0.5;
      font-weight: bolder;
    }







/* login e register */

.space_search_bar{
  margin-right: 2em;
}

.background_Login{
  height: 100vh !important;
  overflow-x: hidden;
  background-image: url("./assets/login_background.png") !important;
  background-size: cover;
  background-repeat: round;
}


.div_center_login{
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}

.input_login{
  width: 315px;
  height: 45px;
  background-color: #120909;
  border: 3px solid #891A1A;
  border-radius: 25px;
  padding-left: 1em;
  color: white;
}

.input_login:focus{
  outline: none;
  border: 3px solid red;
}

.input{
  margin-top: 2em !important;
  margin-bottom: 1em !important;
}

.input_username_register{
  margin-bottom: 1em !important;
}

::placeholder {
  font-weight: bold;
  color: #891A1A ;
  opacity: 1;
}

.btn_login{
  margin-top: 3em;
  width: 315px !important;
  height: 45px !important;
  background-color: transparent !important;
  border: 3px solid  white !important;
  border-radius: 25px;
  color: white !important;
}

.p_log_in{
  margin-top: 1em;
  font-weight: lighter;
}

a{
  color: white;
  text-decoration: none;
}



/* media querrys */

@media (max-width: 992px) {

  .background_Login{
    background-repeat: no-repeat;
  }
  
}