/* geral */

@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Space+Grotesk&family=Unbounded:wght@500&display=swap");

body {
  background-image: linear-gradient(#0c0909, #480202);
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-family: "Space Grotesk", sans-serif !important;
}

/* navbar */

.Navbar {
  height: 90px;
  display: flex;
  overflow: hidden !important;
  /* justify-content: space-between;*/
  align-items: center;
}

.logo {
  max-width: 150px;
  margin-left: 1em;
  margin-right: 1em;
}

.nav-logo {
  display: flex;
}

.Navbar > .nav-logo {
  font-weight: 700;
  font-size: 21px;
  margin: 15px;
  color: #fff;
}

.Navbar > .nav-items > a {
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  margin: 15px;
  position: relative;
  opacity: 0.9;
}

.Navbar > .nav-items > a:hover {
  opacity: 1;
}

.Navbar > .nav-items > a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #fff;
  transition: all 0.45s;
}

.ola {
  margin-right: 2em;
}

.Navbar > .nav-items > a:hover::before {
  width: 100%;
}

.Navbar > .nav-toggle {
  display: none;
}

/* /////////////////////antiga navbar /////////////////*/

/*
.navbar{
  height: 100px;
  display: flex;
  font-size: 35px;
  justify-content: space-between;

}

.navLeft,.navRight{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.navbar .navLeft{
  width: 600px;
}

.navbar .navRight{
  margin-right: 30px;
}

.navbar .navLinks{
  display: flex;
  flex-direction: row !important;
}
.navbar h6{
  margin-right: 20px;
  color: gray;
  cursor: pointer;
}

.selected{
  color: white !important;
}
.btn_register_nav{
  transition: 0.5s;
  background-color: darkred;
  color: white;
  border-radius: 15px;
  padding: 10px;
  font-size: 0.67em;
  font-weight: bold;
  cursor: pointer;
  border: none;
}

.btn_register_nav:hover{
  box-shadow: 0 0 2rem darkred,
  0 0 0.8rem darkred,
  0 0 2.8rem darkred,
  inset 0 0 1.3rem darkred;
}
*/

/* /////////////////////search bar /////////////////////*/

.container {
  position: relative;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 200px;
  height: 100px;
}

.search {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50px;
  height: 50px;
  background: #891a1a;
  border-radius: 50%;
  transition: all 1s;
  z-index: 4;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
}

.search :hover {
  cursor: pointer;
}
.search::before {
  content: "";
  position: absolute;
  margin: auto;
  top: 22px;
  right: 0;
  bottom: 0;
  left: 22px;
  width: 12px;
  height: 2px;
  background: white;
  transform: rotate(45deg);
  transition: all 0.5s;
}
.search::after {
  content: "";
  position: absolute;
  margin: auto;
  top: -5px;
  right: 0;
  bottom: 0;
  left: -5px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid white;
  transition: all 0.5s;
}

.input_search {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 60px;
  height: 50px;
  outline: none;
  border: none;
  background: #891a1a;
  color: white;
  text-shadow: 0 0 10px #891a1a;
  padding: 0 80px 0 20px;
  border-radius: 30px;
  box-shadow: 0 0 25px 0 #891a1a, 0 20px 25px 0 rgba(0, 0, 0, 0.2);
  transition: all 1s;
  opacity: 0;
  z-index: 5;
  font-weight: bolder;
  letter-spacing: 0.1em;
}

.input_search:hover {
  cursor: pointer;
}
.input_search:focus {
  width: 150px;
  opacity: 1;
  cursor: text;
}
.input_search:focus ~ .search {
  right: -250px;
  background: #151515;
  z-index: 6;
}

.input_search::before {
  top: 0;
  left: 0;
  width: 25px;
}
.input_search::after {
  top: 0;
  left: 0;
  width: 25px;
  height: 2px;
  border: none;
  background: white;
  border-radius: 0%;
  transform: rotate(-45deg);
}

.input_search::placeholder {
  color: white;
  opacity: 0.5;
  font-weight: bolder;
}

/* /////////////////////watchlist /////////////////////*/
.space_title {
  margin-left: 36px;
  margin-top: 1em;
}

.header_watchlist {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.input-searchWlist {
  display: flex;
  margin-top: 2em;
}

.search_in_Watchlist {
  height: 45px;
  background-color: #120909;
  border: 3px solid #891a1a;
  border-radius: 25px;
  padding-left: 1em;
  color: white;
  width: 500px;
}

.search_in_Watchlist:focus {
  outline: none;
  border: 3px solid red;
}

.line {
  margin-top: -0.5em;
  border-bottom: solid 2px rgb(253, 190, 190);
  width: 96.5%;
}

.movie-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-left: 36px;

  margin-right: 36px;
  margin-top: 2em;
}

@media (min-width: 992px) {
  .movie-grid {
    grid-template-columns: repeat(5, 1fr);
  }
}

.space_end {
  margin-right: 2em;
  margin-left: 1em;
}

.card_movie {
  width: 100%;
  max-width: 300px;
  height: auto;
  margin-top: 3em;
  margin-left: 36px;
}
/*
.movie-card .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid transparent;
  transition: all 0.3s ease;
}*/

.movie-card:hover .overlay {
  border: 3px solid var(--secondary);
}

.movie-card .inner-card-controls {
  display: inline;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  padding: 3px;
  opacity: 0;
  transition: all 0.3s ease;
}

.movie-card:hover .inner-card-controls {
  opacity: 1;
}

.total {
  display: flex;
  justify-content: flex-end;
  margin-right: 1em;
}

.total_films {
  text-align: left;
  color: #480202;
  background-color: white;
  font-weight: 300;
  border-radius: 500px;
  padding: 1em;
}
.ctrl-btn {
  color: #fefefe;
  background-color: transparent;
  border: none;
  transition: all 0.3s ease;
  font-size: 1.25rem;
  padding: 5px;
  margin: 0;
}

.ctrl-btn:hover {
  color: var(--secondary);
  cursor: pointer;
}

.no-movies {
  margin-top: 3em;
  margin-left: 36px;
}

.year_title_director {
  background-color: white;
  border-radius: 0px 0px 15px 15px;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  padding-right: 2rem;
  padding-left: 2rem;
  padding-top: 0.5rem;
  color: #151515;
}

div.flex-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div.director-name,
.year_film,
.card-attribute {
  display: flex;
  align-items: center;
  /*padding: 1em 0; */
}

.img_card {
  border-radius: 15px 15px 0px 0px;
  max-width: 300px;
  height: auto;
  margin-bottom: -1em;
}

/* Add Page */
.add-content {
  margin-top: 3em;
  max-width: 600px;
  margin: 0 auto;
}

.search_spacee {
  margin-left: 36px;
  position: relative;
  width: 500px;
  height: 100px;
}

.add-content .input-wrapper input {
  width: 100%;
  background-color: var(--primary);
  padding: 10px;
  border-radius: 5px;
  border: none;
  color: var(--white);
  font-size: 1.25rem;
}

.results {
  overflow-y: scroll;
  padding: 0;
  margin: 0;
  margin-top: 20px;
  max-height: 580px;
}

.example::-webkit-scrollbar {
  display: none;
}

.results li {
  list-style: none;
}

.card_watchlist_poster {
  width: 200px;
  height: 300px;
  margin-bottom: 1em;
  margin-right: 1em;
  border-radius: 10px;
}
.result-card {
  display: flex;
  margin-bottom: 20px;
}

.result-card .poster-wrapper img,
.filler-poster {
  width: 100px;
  height: 143px;
  background-color: #dbdada;
  border-radius: 5px;
  margin-right: 15px;
  display: block;
  color: transparent;
}

.result-card .info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.result-card .info .title {
  width: 300px;
  font-size: 1.25rem;
  color: var(--primary);
  font-weight: 600;
  margin: 0;
}

.result-card .info .release-date {
  margin-top: 1em;
  font-size: 1rem;
  font-weight: lighter;
  color: var(--primary);
}

.result-card .controls button {
  border-radius: 15px;
  outline: none;
  border: 2px solid #891a1a;
  padding: 1em;
  margin-right: 10px;
}

.result-card .controls button:hover {
  border-radius: 15px;
  outline: none;
  border: 2px solid red;
  background-color: #f05858;
  color: white;
  padding: 1em;
  margin-right: 10px;
}

.controls {
  display: flex;
  flex-direction: row;
}

.btnADD_filme {
  background-color: white;
  color: #891a1a;
  border-radius: 5px;
  padding: 1em;
  outline: none;
}

/* /////////////////////scroll bar /////////////////////*/

#style-13::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.9);
  border-radius: 10px;
  background-color: #cccccc;
}

#style-13::-webkit-scrollbar {
  width: 10px;
}

#style-13::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #d62929;
  background-image: -webkit-linear-gradient(
    90deg,
    transparent,
    rgba(0, 0, 0, 0.4) 50%,
    transparent,
    transparent
  );
}

/* /////////////////////login e register /////////////////////*/

.space_search_bar {
  margin-right: 2em;
}

.background_Login {
  height: 100vh !important;
  overflow-x: hidden;
  background-image: url("./assets/login_background.png") !important;
  background-size: cover;
  background-repeat: round;
}

.div_center_login {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.input_login {
  width: 315px;
  height: 45px;
  background-color: #120909;
  border: 3px solid #891a1a;
  border-radius: 25px;
  padding-left: 1em;
  color: white;
}

.input_login:focus {
  outline: none;
  border: 3px solid red;
}

.input {
  margin-top: 2em !important;
  margin-bottom: 1em !important;
}

.input_username_register {
  margin-bottom: 1em !important;
}

::placeholder {
  font-weight: bold;
  color: #891a1a;
  opacity: 1;
}

.btn_login {
  margin-top: 3em;
  width: 315px !important;
  height: 45px !important;
  background-color: transparent !important;
  border: 3px solid white !important;
  border-radius: 25px;
  color: white !important;
}

.p_log_in {
  margin-top: 1em;
  font-weight: lighter;
}

a {
  color: white;
  text-decoration: none;
}

/* homepage */

.home {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  background-image: linear-gradient(
      360deg,
      #170808 0%,
      rgba(12, 9, 9, 0) 53.83%
    ),
    url("assets/image\ 1.png");
  width: 14em;
  height: 21em;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 25px;
  display: flex;
  flex-direction: column-reverse;
  margin-top: 3em;
  margin-left: 2.5em;
  margin-right: 2.5em;
}

.header {
  width: 200px;
  font-size: 20px;
  margin-bottom: -12px;
  margin-left: 10px;
}
.cate {
  font-size: 17px;
  padding-bottom: 10px;
  margin-left: 10px;
}

.selector {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding-right: 20px;
  margin-right: 50px;
  cursor: grab;
  padding-bottom: 0.2em;
  padding-top: 0.2em;
}
.selector::-webkit-scrollbar {
  display: none;
}

.clicked {
  color: #fff !important;
  background-color: #190808 !important;
  border: #fff solid 2px !important;
}
.sel {
  border-radius: 100px;
  background-color: #fff;
  font-weight: 600;
  font-size: 20px;
  color: #190808;
  min-width: 10em;
  height: 2em;
  outline: none;
  border: none;
  cursor: pointer;
  margin-left: 2.5em;
  margin-top: 1em;
}

.sele {
  border-radius: 100px;
  background-color: #fff;
  font-weight: 600;
  font-size: 20px;
  color: #190808;
  min-width: 10em;
  height: 2em;
  outline: none;
  border: none;
  cursor: pointer;
  margin-left: 2.5em;
  margin-top: 1em;
}


.showmore {
  color: #fff !important;
  border: #fff solid 2px !important;
  background-color: #480202;
  border-radius: 100px;
  font-weight: 600;
  font-size: 20px;
  min-width: 25em;
  height: 2em;
  outline: none;
  border: none;
  cursor: pointer;
  margin-top: 3em;
}
/* media querrys */

@media (max-width: 1500px) {
  .results {
    max-height: 450px;
  }
}

@media (max-width: 992px) {
  .background_Login {
    background-repeat: no-repeat;
  }

  .results {
    max-height: 450px;
  }
}

@media (max-width: 768px) {
  .results {
    max-height: 400px;
  }

  .poster_filme {
    display: flex;
    flex-direction: column !important;
    align-items: center;
    justify-content: center;
  }

  .info_about {
    margin: 3em;
  }

  .btn_genres {
    margin-bottom: 1em;
  }

  .overview_text {
    margin-right: 0 !important;
  }
}

@media (max-width: 360px) {

  .controls {
    max-width: 163px !important;
}

  .search_in_Watchlist {
      width: 253px !important;
  }

  .space_title {
    margin-left: 19px;
}

.space_end {
  margin-left: 1.2em !important;
}

.logo {
  margin-left: 0.2em;
}

.result-card .info .title {
    width: 134px !important;
}

.result-card .info .title {
    font-size: 1rem;
}


}


@media (max-width: 470px) {
  .results {
    max-height: 250px !important;
  }
}



@media (max-width: 550px) {


  .total{
    margin-right: 0;
  }
  .results {
    max-height: 306px;
  }

  .result-card .controls button {
    padding: 0;
  }

  .result-card .controls button:hover {
    border: 2px solid red;
    background-color: #f05858;
    color: white;
    padding: 0em;
    margin-right: 10px;
  }

  .result-card .info .title {
    width: 200px;
  }

  .result-card .info {
    max-width: 200px;
  }

  .selector {
    margin-right: -3px;
  }

  .card_watchlist_poster {
    margin-right: 0;
  }

  .total_films {
    margin-top: 1em !important;
    margin: auto;
  }
  .space_end {
    margin-left: 2em;
  }

  .search_spacee {
    margin-left: 20px;
  }

  .search_in_Watchlist {
    width: 300px;
  }
}

@media (max-width: 700px) {
  .Navbar {
    justify-content: space-between;
  }
  .Navbar > .nav-items {
    overflow: hidden !important;
    position: absolute;
    top: 90px;
    display: flex;
    background-image: linear-gradient(#0c0909, #480202);
    flex-direction: column;
    left: 0;
    width: 100%;
    /*text-align: right; para --> menu direita*/
    height: 100%;
    transform: translateX(-100%);
    transition: all 0.45s;
    z-index: 5;
  }

  .Navbar > .nav-items > a {
    margin-left: 36px;
  }

  .Navbar > .nav-items > a::before {
    background: transparent;
  }

  .Navbar > .nav-items.open {
    transform: translateX(0);
  }

  .Navbar > .nav-toggle {
    display: flex;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-right: 0.4em;
  }

  .nav-toggle > .bar {
    position: relative;
    width: 32px;
    height: 2px;
    background: #fff;
  }

  .nav-toggle > .bar::before,
  .nav-toggle > .bar::after {
    content: "";
    position: absolute;
    height: 2px;
    background: #fff;
    border-radius: 2px;
    transition: all 0.45s ease-in-out;
  }

  .btn_sign_out_border {
    text-decoration: none !important;
    background-color: whitesmoke;
    border-radius: 50%;
  }
  .nav-toggle > .bar::before {
    width: 25px;
    transform: translateY(-8px);
    right: 0;
  }

  .nav-toggle > .bar::after {
    width: 32px;
    transform: translateY(8px);
    right: 0;
  }

  .nav-toggle.open > .bar {
    background: transparent;
  }

  .nav-toggle.open > .bar::before {
    width: 32px;
    transform: rotate(45deg);
  }

  .nav-toggle.open > .bar::after {
    transform: rotate(-45deg);
  }
}

/* details_page */

.poster {
  border-radius: 15px;
  width: 350px;
  height: auto;
}

.img_poster {
  max-width: 350px !important;
  margin-left: 1.5em;
  margin-top: 2.8em;
}

.btn_add_watchlist {
  margin-top: 3em;
  width: 300px !important;
  height: 45px !important;
  background-color: transparent !important;
  border: 3px solid white !important;
  border-radius: 25px;
  color: white !important;
}
.info_about {
  margin-top: 1.1em;
  margin-left: 3em;
}

.geral_content_detail {
  margin-top: 3.3em;
  display: flex;
  align-items: center;
}
.btn_add {
  display: flex;
  align-items: center;
  justify-content: center;
}
.space_top {
  margin-top: 3em;
}
.poster_filme {
  display: flex;
  flex-direction: row;
  /*
  background-image: url('./assets/landscape_test_st.jpg');
  height: auto;
  max-width: var(--maxPrimaryPageWidth);
  max-height: var(--maxPrimaryPageHeight);
  background-size: cover;
  background-repeat: round;*/
}
/*
.genres_filmes{
  display: flex;
  flex-direction: row !important;
}*/

.cast_img {
  width: 100px;
  height: 150px;
  border-radius: 10px;
}

.div_general_cast {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.name_and_photo_cast {
  margin-right: 1.8em;
  text-align: center;
}
.name_cast {
  font-size: 11px;
}

.btn_genres {
  border-radius: 20px;
  border: none;
  padding: 0.8em;
  margin-right: 1em;
}

.overview_text {
  max-width: 90%;
}
