/* geral */

body {
  background-image: linear-gradient(#0C0909, #480202);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
}

/* navbar */

.login_register{
  display: flex;
}

.btn_register_nav{
  background-color: #480202;
  color: white;
  height: 40px;
  border-radius: 20px;
  padding: 1em;
  margin: auto;
  text-align: center;
  font-size: 0.67em;
    margin-block-start: 2.33em;
    margin-block-end: 2.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.logo{
  width: 10vw;
  margin-left: 2vw;
  margin-top: 2vw;
  margin-right: 4vw;
}

.navbar{
  display: flex;
  flex-direction: row;
  font-size: 1.8vw;
}

.navbar h6{
  margin-top: 2em;
  color: gray;
  margin-right: 2em;
}

.selected{
  color: white !important;
}

/* search bar */

@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Space+Grotesk&family=Unbounded:wght@500&display=swap');

.container {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 300px;
  height: 100px;
}

  .search {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 80px;
    height: 80px;
    background: #891A1A;
    border-radius: 50%;
    transition: all 1s;
    z-index: 4;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);}

    .search :hover {
      cursor: pointer;
    }
   .search::before {
      content: "";
      position: absolute;
      margin: auto;
      top: 22px;
      right: 0;
      bottom: 0;
      left: 22px;
      width: 12px;
      height: 2px;
      background: white;
      transform: rotate(45deg);
      transition: all .5s;
    }
    .search::after {
      content: "";
      position: absolute;
      margin: auto;
      top: -5px;
      right: 0;
      bottom: 0;
      left: -5px;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      border: 2px solid white;
      transition: all .5s;
    }

  .input_search {
    font-family: 'Inconsolata', monospace;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 50px;
    height: 50px;
    outline: none;
    border: none;
    background: #891A1A;
    color: white;
    text-shadow: 0 0 10px #891A1A;
    padding: 0 80px 0 20px;
    border-radius: 30px;
    box-shadow: 0 0 25px 0 #891A1A,0 20px 25px 0 rgba(0, 0, 0, 0.2);
    transition: all 1s;
    opacity: 0;
    z-index: 5;
    font-weight: bolder;
    letter-spacing: 0.1em;}

    .input_search:hover {
      cursor: pointer;
    }
    .input_search:focus {
      width: 150px;
      opacity: 1;
      cursor: text;
    }
    .input_search:focus ~ .search {
      right: -250px;
      background: #151515;
      z-index: 6;}

      .input_search::before {
        top: 0;
        left: 0;
        width: 25px;
      }
      .input_search::after {
        top: 0;
        left: 0;
        width: 25px;
        height: 2px;
        border: none;
        background: white;
        border-radius: 0%;
        transform: rotate(-45deg);
      }

    .input_search::placeholder {
      color: white;
      opacity: 0.5;
      font-weight: bolder;
    }







/* login */


.background_Login{
  min-height: 100vh;
  overflow-x: hidden;
  background-image: url("./assets/login_background.png") !important;
  background-size: cover;
  background-repeat: no-repeat;
}


.div_center_login{
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}

.input_login{
  width: 315px !important;
  height: 45px !important;
  background-color: #120909 !important;
  border: 3px solid #891A1A !important;
  border-radius: 25px;
  padding-left: 1em;
  color: white !important;
}

.input{
  margin-top: 2em !important;
  margin-bottom: 1em !important;
}

.input_username_register{
  margin-bottom: 1em !important;
}

::placeholder {
  font-weight: bold;
  color: #891A1A ;
  opacity: 1;
}

.btn_login{
  margin-top: 3em;
  width: 315px !important;
  height: 45px !important;
  background-color: transparent !important;
  border: 3px solid  white !important;
  border-radius: 25px;
  color: white !important;
}

.p_log_in{
  margin-top: 1em;
  font-weight: lighter;
}

a{
  color: white;
  text-decoration: none;
}